<?xml version="1.0" encoding="UTF-8" ?>
<!--Bind to grammar/schema...-->
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver.class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/SHRAVAN</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!--Hibernate Properties -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>


        <!--Mapping Resources -->
        <mapping resource="student.hbm.xml"/>
        <!--Mapping Class(we use this when we use annotations for Mapping rather than xml file-->
        <mapping class="co.hibernateWithoutMappingFile.entity.Product"/>
        <mapping class="co.hibernateRDBMS.entity.Faculty"/>
        <mapping class="co.hibernateRDBMS.entity.Batch"/>

    </session-factory>
</hibernate-configuration>